body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
  color: white;
  background-color: black
}

.logo {
  text-align: left;
  background-color: black
}

.blogcard {
  text-align: center;
}

.cards {
  align-items: center;
  padding: 50px;
  margin: auto;
}

.nav {
  margin: auto;
  color: black;
}

.searchbar {
  text-align: center;
}

